html {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*::after {
	box-sizing: inherit;
}

.article {
	margin: 16px 8px;
}

.article__heading {
	font-size: 24px;
	color: rgb(52, 173, 161);
}

.article__list {
	list-style-type: circle;
}

.article__text {
	margin: 16px 0px;
	font-size: 18px;
	line-height: 1.5;
}

.footer {
	padding: 16px;
	background: navy;
}

.footer__text {
	margin: 0 auto;
	text-align: center;
	color: antiquewhite;
	font-size: 14px;
}

.footer__top-link {
	position: fixed;
	bottom: 16px;
	right: 16px;
	padding: 16px;
	background-color: lightblue;
	border-radius: 50%;
	border: 2px solid royalblue;
}

.header {
background: royalblue;
padding: 16px;
width: 100%;
}

.header__navigation {
	margin: 16px auto;
	text-align: center;
}

.header__navigation--link {
	margin: 0 8px;
	font-size: 20px;
	color: antiquewhite;
	text-decoration: none;
}

.hero {
	width: 100%;
	margin: 0 16px;
}

.hero__heading {
	font-size: 32px;
	color: darkcyan;
}

.hero__img {
	display: block;
	border-radius: 8px;
	width: 720px;
	max-width: 100%;
	margin: 0 auto; 
	}

.hero__text {
font-size: 18px;
line-height: 1.5;
}

.my-articles {
	margin: 16px 8px;
}

.my-articles__heading {
	font-size: 32px;
	color: rgb(52, 173, 161);
}

.page-header__heading {
	font-size: 48px;
	color: teal;
	margin: 0 8px;
}

.page-header__text {
	font-size: 18px;
	line-height: 1.5;
}

.table {
	width: 100%;
	text-align: center;
	background: lightcyan;
	padding: 16px;
}

.table__caption {
	margin-bottom: 1.5rem;
	font-size: 32px;
}

.wrapper {
	margin: 0px auto;
	padding: 16px;
	width: 100%;
	max-width: 1080px;
	background: rgb(178, 213, 248);
}