@import "components/article.scss";
@import url(../../node_modules/normalize.css/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$textcolor: hotpink;
$desktop: 1280px;
$tablet: 768px;

:root {
	--textColor: #020202;
	--backgroundColor: #e1e1e1;
	background: var(--backgroundColor);
	@media (prefers-color-scheme: dark) {
		--textColor: #e1e1e1;
		--backgroundColor: #020202;
	}
}

html {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

*,
*:before,
*::after {
	box-sizing: inherit;
}
body {
	@media screen and (min-width: $tablet) {
		font-size: 1.125rem;
	}
}

.footer {
	padding: 16px;
	background: navy;

	&__text {
		margin: 0 auto;
		text-align: center;
		color: antiquewhite;
		font-size: 14px;
	}

	&__top-link {
		position: fixed;
		bottom: 16px;
		right: 16px;
		padding: 16px;
		background-color: lightblue;
		border-radius: 50%;
		border: 2px solid royalblue;
	}
}

.grid {
	@media screen and (min-width: $desktop) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
.hamburger {
	padding: 4px 16px;
	background: none;
	border: 0;
	font-size: 2rem;
	@media screen and (min-width: $tablet) {
		display: none;
	}
}

.header {
	min-height: 50px;
	background-color: violet;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__navigation {
		padding: 16px;
		width: 100%;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50px;
		gap: 24px;
		background: violet;

		@media screen and (min-width: $tablet) {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			text-align: center;
			position: static;
		}

		&--open {
			display: flex;
		}
		&--link {
			margin: 0 8px;
			font-size: 20px;
			color: antiquewhite;
			text-decoration: none;
		}
	}
}

.hero {
	width: 100%;

	&__button {
		background: blue;
		color: white;
		font-weight: 700;
		border: 0;
		display: inline-block;
		padding: 4px 8px;
		border-radius: 4px;
	}
	&__heading {
		font-size: 1.25rem;
		color: darkcyan;
		@media screen and (min-width: $tablet) {
			font-size: 1.75rem;
		}
		@media screen and (min-width: $desktop) {
			font-size: 2.25rem;
		}
	}
	&__img {
		display: block;
		border-radius: 8px;
		width: 720px;
		max-width: 100%;
		margin: 0 auto;
	}
	&__text {
		font-size: 1rem;
		line-height: 1.5;
	}
}

.my-articles {
	margin: 16px 8px;
	&__heading {
		font-size: 1.25rem;
		color: rgb(52, 173, 161);

		@media screen and (min-width: $tablet) {
			font-size: 1.75rem;
		}
		@media screen and (min-width: $desktop) {
			font-size: 2.25rem;
		}
	}
}

.page-header {
	&__heading {
		font-size: 1.5rem;
		color: teal;
		margin: 0 8px;

		@media screen and (min-width: $tablet) {
			font-size: 2rem;
		}
		@media screen and (min-width: $desktop) {
			font-size: 3rem;
		}
	}
	&__text {
		font-size: 1rem;
		line-height: 1.5;
	}
}

.wrapper {
	margin: 0px auto;
	padding: 16px;
	width: 100%;
	max-width: 1080px;
	background: rgb(178, 213, 248);
}
